body
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.status_table, .control_table
{
  width: 100%
}

td
{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 400%;
  text-align: center;
  border: 5px solid black;
}

.override_td
{
  border: none;
  text-align: left;
}

.class_on
{
  width: 35%;
  background-color: green;
}

.class_off
{
  width: 35%;
  background-color: red;
}

.toggle_button_td
{
  padding-top: 10px;
  padding-bottom: 0px;
  width: 35%;
  vertical-align: central;
  border: none;
}

.toggle_button
{
  width: 100%;
  vertical-align: central;
}