body, #config_div
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 900px;
  margin: auto;
}

.status_table, .control_table, .week_table
{
  width: 100%
}

td
{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 400%;
  text-align: center;
  border: 5px solid black;
}

#close_config_div
{
  position: relative;
  right: -850px;
  height: 50px;
  width: 50px;
}

.close_window_png
{
  width: 100%;
  height: 100%;
}

.week_row, .week_hour
{
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  text-align: center;
  border: 1px solid black;
}

.week_row_on
{
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  text-align: center;
  border: 2px solid black;
  background-color: green;
}
.week_row
{
  width: 13%;
}

.week_hour
{
  width: 4.5%;
}

.override_td, .coverage_td
{
  border: none;
  text-align: left;
}

.class_on
{
  width: 35%;
  background-color: green;
}

.class_off
{
  width: 35%;
  background-color: red;
}

.toggle_button_td
{
  padding-top: 10px;
  padding-bottom: 0px;
  width: 35%;
  vertical-align: central;
  border: none;
}

.toggle_button
{
  width: 100%;
  vertical-align: central;
}

#config_div
{
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 0;
}