body, #config_div, .push_button
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body, #config_div
{
  width: 900px;
  margin: auto;
}

.status_table, .control_table, .week_table
{
  width: 100%
}

.week_table
{
  border: 2px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

.week_table, .week_row, .week_hour, .week_row_on
{
  border: 5px solid black;
}

.large_td, .override_td, .class_on, .class_off, .coverage_td
{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 400%;
  text-align: center;
  border: 5px solid black;
}

.status_width, .class_on, .class_off
{
  width: 35%;
}

.class_on
{
  background-color: green;
}

.class_off
{
  background-color: red;
}

.close_config_div
{
  height: 100px;
  width: 100px;
}

.close_window_png
{
  width: 100%;
  height: 100%;
}

.week_row, .week_hour, .week_row_on
{
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  text-align: center;
}

.week_row_on
{
  background-color: green;
}
.week_row
{
  width: 13%;
}

.week_hour
{
  width: 4.5%;
}

.override_td, .coverage_td
{
  border: none;
  text-align: left;
}

.toggle_button_td
{
  padding-top: 10px;
  padding-bottom: 0px;
  width: 35%;
  height: 125px;
  vertical-align: central;
  border: none;
}

.toggle_button
{
  width: 100%;
  height: 100%;
  vertical-align: central;
}

#config_div
{
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 0;
}

.push_button
{
  height: 100px;
  width: 440px;
  font-size: 400%;
}

.float_right
{
  float: right;
}

.bottom_buttons
{
  padding-top: 30px;
}

.config_div_top
{
  padding-top: 10px;
  padding-bottom: 15px;
}

#video-jwplayer_wrapper
{
  margin: auto;
  padding-top: 30px;
  position: relative;
  display: block;
  width: 640px;
  height: 360px;
}
